.findHelp {
  min-height: 80vh;
}

.findHelp .select {
  width: 30%;
  margin: 3%;
}

.findHelp .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.findHelp .buttonWrap {
  text-align: center;
}

.findHelp button {
  background: #0808;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 30px;
  border: none;
  font-size: 1.25em;
  text-align: center;
  margin: 10px 45%;
  padding: 0.5em 1em;
  color: #f3f0f1;
  display: flex;
  flex-direction: row;
}

.findHelp button img {
  margin-left: 10px;
}

.findHelp .buttonLabel {
  display: inline-block;
  padding: 1em 2em;
  margin-left: 2.5em;
  cursor: pointer;
  color: rgba(2, 85, 2, 0.533);
  border-radius: 32px;
  cursor: pointer;
  background: #f3f0f1;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttonLabel h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.buttonLabel:hover {
  background-image: linear-gradient(
    109.6deg,
    rgba(238, 164, 179, 1) 11.2%,
    rgba(212, 153, 234, 1) 47.3%,
    rgba(150, 121, 255, 1) 100.2%
  );
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.buttonLabel:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
    inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

.hidden:checked + .buttonLabel {
  background-image: linear-gradient(
    109.6deg,
    rgba(238, 164, 179, 1) 11.2%,
    rgba(212, 153, 234, 1) 47.3%,
    rgba(150, 121, 255, 1) 100.2%
  );
  color: #fff;
}

.hidden {
  display: none;
}

@media (max-width: 599px) {
  .findHelp .buttonLabel {
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }

  .findHelp .container {
    display: block;
    text-align: center;
  }

  .findHelp .container p {
    margin-bottom: 8px;
  }

  .findHelp .select {
    width: 70%;
    margin: 10px auto;
  }

  .findHelp button span {
    font-size: 0.77em;
  }

  .findHelp button {
    padding: 0.25em 0.5em;
    margin: 10px auto;
  }

  .findHelp button img {
    width: 0.8em;
    margin: 5px;
  }
}
