.App {
  width: 100%;
  background: #f3f0f1;
  font-family: "New Tegomin", serif;
  /* background: linear-gradient(97.93deg, #4452ce81 43.88%, #6644cc83 109.61%); */
}

.App header {
  padding: 18px 25px;
  font-family: "New Tegomin", serif;
  font-size: 1.9em;
  /* box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  border-radius: 7px; */
}

.App header span {
  color: #f39489;
}

.App header a {
  text-decoration: none;
  color: #080808;
}

.App header .button {
  font-size: 0.7em;
  text-decoration: none;
  float: right;
  background: #f3f0f1;
  position: relative;
  font-family: "Nanum Brush Script", cursive;
  padding: 10px 15px;
  margin-right: 20px;
  border-radius: 32px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #f39489;
}

.App header .button:hover {
  opacity: 0.7;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #df887e;
}
.App header .button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: rgba(1, 121, 1, 0.533);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App header .button img {
  margin: 0 5px;
}

.App footer {
  background-color: #f39489;
  min-height: 40px;
  padding: 10px;
  color: #f3f0f1;
  text-align: center;
  font-size: 1.6em;
  font-family: "Nanum Brush Script", cursive;
}

.App .supportMe {
  width: 1.45em;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 599px) {
  .App header {
    font-size: 1.75em;
    padding: 18px 12px 18px 20px;
  }

  .App header .button {
    padding: 5px 8px;
    margin-right: 8px;
  }

  /* .App .linkText {
    display: none;
  } */

  .App footer {
    font-size: 1.25em;
  }
}
